# Server Configuration
PORT=5001

# Database Configuration
# For local dev: mongodb://127.0.0.1:27017/your_db_name
MONGO_URI=mongodb://127.0.0.1:27017/easy

# Google Auth
GOOGLE_CLIENT_ID=1042953248958-uh02402jrhrlpmj0trd8n36j6na41o5v.apps.googleusercontent.com

# JWT Security
# DO NOT push the real secret to GitHub. 
JWT_SECRET=